:root {
  --bg-color: #200d38;
  --nav-bg-color: #3b3660;
  --text-color: #e6abbd;
  /* --a-color: #e8d2da; */
  --a-color: #3b3660;
  --a-bg-color: #d3908f;
}

body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
  max-width: 64em; /* remove this for a full-width layout */
  margin: 0 auto;
}

nav {
  position: absolute;
  padding: 20px 12px 24px;
  margin: 20px 12px 24px;
  z-index: 1;
  background: var(--nav-bg-color);
  border-radius: 4px;
}

nav a {
  padding: 4px 8px;
  margin: 8px 12px;
  border-radius: 4px;
  color: var(--a-color);
  background: var(--a-bg-color);
  text-decoration: none;
}

section {
  padding: 20px 12px 24px;
  display: none;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--bg-color);
}

section main > div {
  margin-top: 100px;
}

section:target {
  display: block;
}

section#home {
  display: block;
}
